.mainTitle h1 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
}
.title1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
}
.productsBlock {
    border-top: solid 1px  #A7A7A7;
    display: flex;
    justify-content: space-between;
    padding: 40px 0 30px 0;
    width: 100%;
}
.productsBlock1 {
    border-top: solid 1px  #A7A7A7;
    display: flex;
    justify-content: space-between;
    padding: 40px 0 30px 0;
    width: 100%;
}
.productsBlock2 {
    border-top: solid 1px  #A7A7A7;
    height: 1px;
    display: flex;
    justify-content: space-between;
    padding: 40px 0 30px 0;
    width: 100%;
}


.title2 p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    height: 100px;
    align-items: center;
}


.countBlock {
    width: 140px;
    height: 40px;
    border: black solid;
    border-radius: 15px;
    padding: 0 0 20px 0;
}
.count {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.countBtn {
    border: none;
    width: 18px;
    height: 18px;
    margin: 0 auto;
    background: none;
}
.countNum {
    margin: 0;
    position: center;
    align-items: center;

}
.newPrice {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 130%;
    display: flex;
    align-items: center;
    height: 167px;
}
.oldPrice {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.03em;
    text-decoration-line: line-through;
    display: flex;
    align-items: center;
    height: 167px;
}
.rBlockTitles {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 130%;
}
.quantity {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
}
.qntNum{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
}
.amount {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;


}
.amtNum {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
}
.rBlockInp {
    height: 73px;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    text-align: center;

    letter-spacing: 0.03em;

    color: #929292;
}
.rBlockBtn {
    height: 73px;
    border-radius: 20px;
    background-color: #F188F2;
}
.rBlockBtnTitle {
    color: white;
}

.rBlockTitle1 {
    display: flex;
    justify-content: space-between;

}
.rBlockTitle2 {
    display: flex;
    justify-content: space-between;
}



.rightBlock {
    width: 496px;
    height: 393px;
    border: black solid;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
    margin: 0 0 0 60px;
}
.mainBlock {
    display: flex;
}

.shoppingCatBlock {
    margin: 0 30px 0 30px;
}
.leftBlock {
    width: 100%;
}

@media screen and (max-width: 1024px) {
    .rightBlock{
        width: 396px;
        height: 293px;
    }
    .rBlockTitles {
        font-size: 20px;
        margin: 0 0 16px 0;
    }
    .quantity, .qntNum, .amount{
        font-size: 16px;
    }
    .amtNum {
        font-size: 24px;
    }
}
@media screen and (max-width: 768px) {
    .title1 {
        width: 750px;

    }
    .rightBlock{
        width: 249px;
        height: 284px;
    }
    .rBlockTitles {
        font-size: 20px;
        margin: 0 0 16px 0;
    }
    .quantity, .qntNum, .amount{
        font-size: 16px;
    }
    .amtNum {
        font-size: 18px;
    }
    .rBlockInp, .rBlockBtnTitle {
        font-size: 14px;
    }
    .title2 p{
        font-size: 14px;
    }
    .countBlock {
        width: 120px;
    }
    .newPrice {
        font-size: 30px;
    }
    .oldPrice {
        font-size: 15px;
    }
}
@media screen and (max-width: 390px) {
    .mainTitle h1 {
        font-size: 18px;
    }
    .title1 {
        width: 315px;
        font-size: 15px;

    }
    .mainBlock {
        display: inline;
    }
    .productsBlock{
        border-top: solid 1px  #A7A7A7;
        display: inline;
        padding: 20px 0 10px 0;
    }
    .productsBlock1{
        border-top: solid 1px  #A7A7A7;
        display: inline;
        padding: 20px 0 10px 0;
    }
    .productsBlock2{
        border-top: solid 1px  #A7A7A7;
        display: inline;
        padding: 20px 0 10px 0;
    }
    .title2 {
        height: 20px
    }
    .newPrice, .oldPrice {
        display: block;
        height: 60px
    }
    .deleteProduct {
        margin: 30px 0 0 0;
    }
    .rightBlock {
        margin: 0 auto;
    }
}